body {
}
.btn{	
  display: inline-block;
  padding: 10px  20px;
  background: #3194c6;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#chatWindow {
overflow-y:auto
}
/*Git works*/